<div>
  <div class="row">
    <div class="col-12">
      <img src="assets/images/cabecera.png" alt="" style="width: 100%;">
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-12">
      <ul class="nav">
        <li class="nav-item">
          <a href="" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Policiales</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Politica</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Educacion</a>
        </li>
      </ul>
    </div>
  </div>
</div>
